@model Task<List<SosyalMedya>>
@{
    ViewData["Title"] = "SosyalMedya";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @if (TempData["message"] != null)
                    {
                        <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))" />
                    }
                    <div class="card-header">
                        <h3 class="card-title">Sosyal Medya Listesi</h3>
                        <a asp-action="SosyalMedyaEkle" class="float-right btn btn-sm bg-gradient-info btn-flat">Yeni Ekle +</a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sosyal Medya Adı</th>
                                    <th>Url</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Result.Count() > 0)
                                {
                                    @foreach (var item in Model.Result)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Link)
                                            </td>
                                            <td>
                                                <a asp-action="sosyalmedyaekle" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Güncelle</a> |
                                                <a asp-action="SosyalMedya" asp-route-id="@item.Id" class="btn btn-danger btn-sm" onclick="return confirm('Silmek İstediğinize Eminmisiniz?')">Sil</a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <div class="alert alert-warning">
                                                <h3>Sosyal Medya Bulunamadı</h3>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Sosyal Medya Adı</th>
                                    <th>Sayfa Link</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>